html {
    font-size: 16px;
}

.body {
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: black;
    background-color: white;
    min-width: 320px;
}

.navbar-nav .dropdown-menu {
    right: 0;
    left: auto;
}


    
