{% extends "web/layout.html" %}

{% load humanize %}

{% block body %}
    <h2>All Posts</h2>
    {% if user.is_authenticated %}
        <br>
        <h4>New Post</h4>
        <form action="{% url 'newpost' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <textarea class="form-control" rows="3" name="content"></textarea>
                <button style="margin-top: 10px;" type="submit" class="btn btn-primary mb-3">Post</button>
            </div>
        </form>
    {% else %}   
        <br> 
    {% endif %}
    {% for post in allposts %}
        <div class="card" style="max-width: 50rem;">
            <div style="background-color:lightgray;" class="card-header">
                <strong>Post by: <a style="color: black;" href="{% url 'profileforuserid' post.user.id %}">{{ post.user }}</a></strong> 
            </div>
            <div class="card-body">
                <h6 class="card-title">{{ post.content }}</h6>
                <a href="#"><i class="fa-regular fa-heart" style="color: #ff2600;"></i></a> {{ post.number_of_likes }}
                {% if current_user == post.user %}
                <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Edit
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Change Post</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <textarea cols="50">{{ post.content }}</textarea>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                        </div>
                    </div>
                {% endif %}   
                
                
            </div>
            <div class="card-footer">
                <small>{{ post.creation_date|naturaltime }}</small>
            </div>     
        </div>
        <br>
    {% endfor %}
      
{% endblock %}