{% extends "web/layout.html" %}

{% load humanize %}

{% block body %}
    <script>
        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if(parts.length == 2) return parts.pop().split(";").shift();

        }

        function submitHandler(id){
            const cnt_area = document.getElementById(`content_area${id}`)
            const txt_area = document.getElementById(`text_area${id}`).value
            cnt_area.innerHTML = txt_area

            fetch(`/post_edit/${id}`, {
                method: "POST",
                headers: {"Content-type": "application/json", "X-CSRFToken": getCookie("csrftoken")},
                body: JSON.stringify({
                    content: txt_area
                })
            })

        }

        function likeHandler(id, list) {
            const btn = document.getElementById(`${id}`);
            let counter = document.getElementById(`like_number${id}`).innerHTML
            btn.classList.remove('fa-regular')
            btn.classList.remove('fa-solid')

            fetch(`/change_like/${id}`)
            .then(response => response.json())
            .then(result =>  {
                if(result.message == "Like removed"){
                    counter --
                    btn.classList.add('fa-regular')
                    document.getElementById(`like_number${id}`).innerHTML = ` ${counter}`
                } else {
                    counter ++
                    btn.classList.add('fa-solid')
                    document.getElementById(`like_number${id}`).innerHTML = ` ${counter}`
                }
                    
            })
        }

    </script>

    <h2>All Posts</h2>
    {% if user.is_authenticated %}
        <br>
        <h4>New Post</h4>
        <form action="{% url 'newpost' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <textarea class="form-control" rows="3" name="content"></textarea>
                <button style="margin-top: 10px;" type="submit" class="btn btn-primary mb-3">Post</button>
            </div>
        </form>
    {% else %}   
        <br> 
    {% endif %}
    {% for post in allposts %}
        <div class="card" style="max-width: 50rem;">
            <div style="background-color:lightgray;" class="card-header">
                {% if user.is_authenticated %}
                    <strong>Post by: <a style="color: black;" href="{% url 'profileforuserid' post.user.id %}">{{ post.user }}</a></strong>
                {% else %}
                    <strong>Post by: <a style="color: black;" href="{% url 'login' %}">{{ post.user }}</a></strong>
                {% endif %}
            </div>
            <div class="card-body">
                <h6 class="card-title" id="content_area{{ post.id }}">{{ post.content }}</h6>
                {% if user.is_authenticated %}
                    {% if post.id in whoyoulike %}
                        <button class="fa-solid fa-heart" style="color: #ff2600;" onclick="likeHandler({{ post.id }}, {{ whoyoulike }})" id="{{ post.id }}"> </button><span id="like_number{{ post.id }}"> {{ post.number_of_likes }}</span> 
                    {% else %}
                        <button class="fa-regular fa-heart" style="color: #ff2600;" onclick="likeHandler({{ post.id }}, {{ whoyoulike }})" id="{{ post.id }}"> </button> <span id="like_number{{ post.id }}">{{ post.number_of_likes }}</span> 
                            {% endif %}
                {% else %}
                    <a href="{% url 'login' %}" class="fa-regular fa-heart" style="color: #ff2600; text-decoration: none;" ></a><span> {{ post.number_of_likes }}</span>
                {% endif %}
                {% if current_user == post.user %}
                <!-- Button trigger modal -->
                <br>
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#post_model{{ post.id }}">
                        Edit
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="post_model{{ post.id }}" tabindex="-1" aria-labelledby="post_model{{ post.id }}Label" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Change Post</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <textarea cols="50" id="text_area{{ post.id }}">{{ post.content }}</textarea>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="submitHandler({{ post.id }})">Save changes</button>
                            </div>
                        </div>
                        </div>
                    </div>
                {% endif %}   
                
                
            </div>
            <div class="card-footer">
                <small>{{ post.creation_date|naturaltime }}</small>
            </div>     
        </div>
        <br>
    {% endfor %}
    <nav aria-label="Page navigation example">
        <ul class="pagination d-flex justify-content-center">
            {% if allposts.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ allposts.previous_page_number }}">Previous</a></li>
            {% endif %}    
            {% if allposts.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ allposts.next_page_number }}">Next</a></li>
            {% endif %}    
        </ul>
      </nav> 
      
{% endblock %}