{% extends "web/layout.html" %}

{% load humanize %}

{% block body %}
    <h2>Post's which {{ current_user }} follows</h2>
    <br>
    {% for post in allposts %}
        <div class="card" style="max-width: 50rem;">
            <div style="background-color:lightgray;" class="card-header">
                <strong>Post by: <a style="color: black;" href="{% url 'profileforuserid' post.user.id %}">{{ post.user }}</a></strong> 
            </div>
            <div class="card-body">
                <h6 class="card-title">{{ post.content }}</h6>
                
                <a href="#"><i class="fa-regular fa-heart" style="color: #ff2600;"></i></a> {{ post.number_of_likes }}
            </div>
            <div class="card-footer">
                <small>{{ post.creation_date|naturaltime }}</small>
            </div>     
        </div>
        <br>
    {% endfor %}
      
{% endblock %}